<html>
    <head>
        <meta charset="utf-8">
        <title>Projeto</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
    </head>

    <body>
        <div id="container">
            <header>
                <img src="imagens/logo-marvel.png">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Heróis</a></li>
                        <li><a href="#">MCU</a></li>
                        <li><a href="#">HQs</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </nav>
            </header>

            <div id="artigos">

                <article class="artigo">
                    <h2>Com Gavião Arqueiro, Marvel's Avengers chega a PS5 e Xbox Series em 18 de março</h2>
                    <p>Na mesma data, também chega Gavião Arqueiro, novo herói do game. O personagem chega junto a um novo arco de história chamado “Operação Gavião Arqueiro - Futuro Imperfeito”, que mostrará o encontro entre o Clint Barton do presente com uma versão envelhecida, de um futuro no qual os heróis da Terra morreram em uma guerra nuclear.
                    </p>                        
                </article>
                <article class="artigo">
                    <h2>Com Gavião Arqueiro, Marvel's Avengers chega a PS5 e Xbox Series em 18 de março</h2>
                    <p>Na mesma data, também chega Gavião Arqueiro, novo herói do game. O personagem chega junto a um novo arco de história chamado “Operação Gavião Arqueiro - Futuro Imperfeito”, que mostrará o encontro entre o Clint Barton do presente com uma versão envelhecida, de um futuro no qual os heróis da Terra morreram em uma guerra nuclear.
                    </p>                        
                </article>
                <article class="artigo">
                    <h2>Com Gavião Arqueiro, Marvel's Avengers chega a PS5 e Xbox Series em 18 de março</h2>
                    <p>Na mesma data, também chega Gavião Arqueiro, novo herói do game. O personagem chega junto a um novo arco de história chamado “Operação Gavião Arqueiro - Futuro Imperfeito”, que mostrará o encontro entre o Clint Barton do presente com uma versão envelhecida, de um futuro no qual os heróis da Terra morreram em uma guerra nuclear.
                    </p>                        
                </article>
                <article class="artigo">
                    <h2>Com Gavião Arqueiro, Marvel's Avengers chega a PS5 e Xbox Series em 18 de março</h2>
                    <p>Na mesma data, também chega Gavião Arqueiro, novo herói do game. O personagem chega junto a um novo arco de história chamado “Operação Gavião Arqueiro - Futuro Imperfeito”, que mostrará o encontro entre o Clint Barton do presente com uma versão envelhecida, de um futuro no qual os heróis da Terra morreram em uma guerra nuclear.
                    </p>                        
                </article>                                
            </div>
            


        </div>

    </body>

    