*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

#container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    height: 300px;
}

header img{
    height: 100px;
}