*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

body{
    background: rgb(24, 24, 24);
}

#container{
    width: 1080;
    height: auto;
    margin: 50px auto;  
}

header {
    height: 150px;
    justify-content: space-between;
    display: flex;
    font-size: 14px;    
    background: rgb(116, 11, 11);
    padding: 20px 150px 20px 150px;
}

#logo{
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    text-transform: uppercase;
    padding: 50px;
}

nav ul li{
    padding-left: 8px;
}

nav ul li a:hover{
    background: rgb(139, 21, 21);
    box-shadow: 0 3px 3px 0 rgb(148, 29, 29);
    color: white;
    font-size: 16px;
    padding: 10px;
}

.postagens{
    padding: 10px;
}

.artigo{
    text-align: justify;
}

.data-publicacao{
    font-size: 12px;
    font-style: italic;
    padding-bottom: 5px;
}

